@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100%;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    
}
.left {
    background-color: rgb(209, 209, 218);
    width: 400px;
    
    display: flex;
    flex-direction: column;
}
.logo {
 font-size: xx-large;
 font-style: italic;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 text-align: center;
 padding-top: 20px;
}
.def {
    padding: 10px 50px;
    text-align: center;
    font-size: large;
}
.sidenav {
    display: flex;
    flex-direction: column;
}
.sidenav a {
    padding: 15px 15px 10px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0e0c0c;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
 }
.footer {
    padding: 40px;
    text-align: center;
}
.main {
    background-color: white;
    width: 1200px;
   text-align: justify;
    padding: 0 40px 40px;
    font-size: large;
    overflow: auto;
}

.img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.text {
    padding-right: 150px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #bdc4c2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    font-size: large;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .right {
    background-color: white;
    width: 400px;
    padding: 200px 20px 20px 20px;
    border-inline-start: 1px solid #eee;
    
 }
 input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
  .aymen1 {
      width: 200px;
      border-radius: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;

  }
  .abtme {
      text-align: center;
      font-size: large;
  }
  .span {
      display: flex;
      flex-direction: row;

  }

  .social-media  {
      display: flex;
      gap: 10px;
  }

  .social-item {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
  }

  .facebook {
      background-color: #3B5998;
      fill: #fff;
  }

  .instagram {
    background-color: #E1306C;
    stroke: #fff;
}

.telegram {
    background-color: #007bb5;
    fill: #fff;
}
